<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="stylesheet" href="./index.css" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <div class="pop-up is-hidden" data-modal-pop-up>
      <!-- <div class="pop-up-container"> -->
      <div class="pop-up-modal">
        <button
          class="yourorder-modal-close-btn btn"
          type="button"
          data-modal-pop-up-close
        >
          <svg class="yourorder-modal-icon-close" width="12" height="12">
            <use href="./sprite.svg#icon-x"></use>
          </svg>
        </button>
        <div class="container-form">
          <div class="form-img-book"><img src="" alt="" /></div>
          <div class="form-book">
            <div class="form-title-book">
              <p class="book-name">HELLO BEAUTIFUL b</p>
            </div>
            <div class="form-upertitle-book">
              <p class="avtor-name">Ann Napolitano</p>
            </div>
            <div class="form-text-book">
              <p class="description">
                In a homage to Louisa May Alcott’s “Little Women,” a young man’s
                dark past resurfaces as he gets to the know the family of his
                college sweetheart.
              </p>
            </div>
            <div class="form-container-links-book">
              <ul class="form-links-book">
                <li class="form-link-book-amazon">
                  <a href="https://worldvectorlogo.com/downloaded/amazon-2"></a>
                </li>
                <li class="form-link-book-ap">
                  <a href="https://worldvectorlogo.com/downloaded/amazon-2"></a>
                </li>
                <li class="form-link-book-shop">
                  <a href="https://worldvectorlogo.com/downloaded/amazon-2"></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- КНОПКА ЗАКАЗА ==========================================-->
          <button class="yourorder-modal-submit-btn" type="submit">
            Add to shopping list
          </button>
          <!-- ======================================================= -->
        </div>

        <!-- </div> -->
      </div>
    </div>
    <div class="fruits-btn-wrapper">
      <button class="btn" type="button" data-modal-pop-up-open>book</button>
    </div>
  </body>
</html>
