<header>
  <div class="container header-main-div">
    <div class="header-part-div">
      <a href="./index.html" class="header-logo">
        <svg class="header-logo-part" width="24" height="24">
          <use href="./images/icons.svg#icon-logo-header"></use>
        </svg>
        <svg class="header-logo-part" width="77" height="14">
          <use href="./images/icons.svg#icon-bookshelf"></use>
        </svg>
      </a>
      <nav>
        <ul class="navigation-list">
          <li  class="li-to-home-page">
            <a href="./index.html"><span class="home-span-btn">Home</span></a>
          </li>
          <li class="li-to-shopping-page">
            <a href="./shopping-list.html"
              ><span class="span-to-shopping-page">Shopping list</span>
            </a>
          </li>
          <li>
            <a href="./shopping-list.html"
              ><svg class="" width="20" height="20">
                <use href="./images/icons.svg#icon-header-bucket"></use></svg
            ></a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <label class="switch toggle">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</header>
