<header>
  <div class="container header-main-div">
    <a href="./index.html" class="header-logo">
      <svg class="header-logo-part" width="24" height="24">
        <use href="./images/icons.svg#icon-logo-header"></use>
      </svg>
      <svg class="header-logo-part" width="77" height="14">
        <use href="./images/icons.svg#icon-bookshelf"></use>
      </svg>
    </a>
    <nav>
      <ul class="navigation-list">
        <li>
          <a href="./index.html" class="link-to-home-page"
            ><span class="home-span-btn">Home</span></a
          >
        </li>
        <li>
          <a href="./shopping-list.html" class="link-to-shopping-page"
            >Shopping list</a
          >
        </li>
      </ul>
    </nav>
    <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
  </div>
</header>
