<header>
  <div class="header-main-div">
      <div class="header-part-div">
        <a href="./index.html" class="header-logo">
          <svg class="header-logo-part" width="24" height="24">
            <use href="./images/icons.svg#icon-logo-header"></use>
          </svg>
          <svg class="header-logo-part" width="77" height="14">
            <use href="./images/icons.svg#icon-bookshelf"></use>
          </svg>
        </a>
        <nav class="header-navigation">
          <ul class="navigation-list">
            <li class="li-to-home-page">
              <a class="active-link menu-link active-link home-link" href="./index.html"
                ><span class="home-span-btn">Home</span></a
              >
            </li>
            <li class="li-to-shopping-page">
              <a class="active-link menu-link shopping-link shopping-list-link" href="./shopping-list.html"
                ><span class="span-to-shopping-page active-page"
                  >Shopping list</span
                >
                <svg width="20" height="20" class="active-svg">
                  <use href="./images/icons.svg#icon-header-bucket"></use></svg
              ></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-user-part-div">
        <label class="switch toggle">
          <input type="checkbox" id="themeSwitch" />
          <span class="slider round"></span>
        </label>
        <div class="header-mobile-menu-icons">
          <svg class="hidden" id="close-mobile-menu" width="15" height="15">
            <use href="./images/icons.svg#x-cross"></use>
          </svg>
          <svg class="burger-menu" id="open-mobile-menu" width="28" height="28">
            <use href="./images/icons.svg#hamburger-menu"></use>
          </svg>
        </div>
        <div class="user-log">
          <span class="header-user-icon">
            <svg class="user-icon" width="19" height="19">
              <use href="./images/icons.svg#icon-user-fill"></use>
            </svg>
          </span>
          <span class="header-user-name">Stephen</span>
          <span class="user-dropdown-arrow">
            <svg width="30" height="34">
              <use href="./images/icons.svg#icon-arrow-down"></use></svg
          ></span>
        </div>
      </div>
    </div>
  </div>
</header>
