<div class="container">
  <div class="main-container">
    <div class="left-container">
      <div class="book-categories">
        <ul class="categories-list">
          <li class="item-category active">All categories</li>
        </ul>
      </div>
      <div class="home-page__support-ukraine-container">
        <!-- Header Support Ukraine -->
        <div class="donate-container">
          <div class="donate-header">
            <span class="donate-paragraph">Support Ukraine</span>
            <svg class="donate-emblem">
              <use
                href="./images/icons.svg#emblem"
                width="20"
                height="32"
              ></use>
            </svg>
          </div>
          <div class="donate-funds-visible">
            <ul class="donate-funds-list" id="donateFundsList"></ul>
          </div>
          <!-- Button down !-->
          <div class="donate-block-arrow">
            <button class="donate-button">
              <svg class="donate-arrow">
                <use
                  class="use-donate"
                  href="./images/icons.svg#icon-donate"
                ></use>
              </svg>
            </button>
          </div>

          <!-- Button up -->
          <div class="donate-block-arrow">
            <button class="donate-button-up">
              <svg class="donate-arrow-up">
                <use
                  class="use-donate"
                  href="./images/icons.svg#icon-donate"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="right-container">
      <h1 class="main-title">
        Best Sellers <span class="colored">Books</span>
      </h1>
      <div class="main-books-container"></div>
    </div>
  </div>
</div>
<!-- Scroll UP -->
<div id="modal-container"></div>
<button id="scrollUpButton">
  <span class="ellip-scroll"><svg width="24" height="24">
    <use href="./images/icons.svg#icon-arrow-up-for-scroll"></use>
  </svg></span>
</button>
