<div class="container">
  <div class="main-container">
    <div class="left-container">
      <div class="book-categories">
        <ul class="categories-list">
          <li class="item-category active">All categories</li>
        </ul>
      </div>
      <div class="container home-page__support-ukraine-container">
        <!-- Header Support Ukraine -->
        <div class="donate-container">
          <div class="donate-header">
            <span class="donate-paragraph">Support Ukraine</span>
            <svg class="donate-emblem">
              <use href="./images/icons.svg#emblem" width="20" height="32"></use>
            </svg>
          </div>
          <div class="donate-funds-visible">
            <ul class="donate-funds-list" id="donateFundsList"></ul>
          </div>
          <!-- Button down !-->
          <div class="donate-block-arrow">
            <button class="donate-button">
              <svg class="donate-arrow">
                <use class="use-donate" href="./images/icons.svg#icon-donate"></use>
              </svg>
            </button>
          </div>

          <!-- Button up -->
          <div class="donate-block-arrow">
            <button class="donate-button-up">
              <svg class="donate-arrow-up">
                <use class="use-donate" href="./images/icons.svg#icon-donate"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="right-container">
      <h1 class="main-title">
        Best Sellers <span class="colored">Books</span>
      </h1>
      <div class="main-books-container">
        <!-- <div class="backdropp" data-modal>
          <div class="modal-windoww">
            <button type="button" class="close-modal-buttonn">
              <svg width="14" height="14">
                <use href="./images/icons.svg#icon-close" class="close-icon"></use>
              </svg>
            </button>
            <div class="div-paddings">
              <div class="div-descr">
                <img class="best-books-imgg" alt="${book.title}">
                <div class="no-image-div">
                  <h3 class="book-titlee" data-name="${book.title}">hello</h3>
                  <p class="author-bestsellerss" data-name="${book.author}">Ann</p>
                  <p class="descriptionss" data-name="${book.description}">In a homage to Louisa May Alcott’s “Little
                    Women,” a young man’s dark past resurfaces as he gets to the know the family of his college
                    sweetheart.</p>
                  <div class="buy-linkss">
                    <ul class="shopping__list__link__listt">
                      123
                    </ul>
                  </div>
                </div>
              </div>
              <button type="button" class="add-to-shopping-listt">Add to shopping list</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- Scroll UP -->
<button id="scrollUpButton">
  <span class="ellip-scroll">Scroll Up</span>
</button>