<div>
  <ul class="list-categories">
    <li class="item-categories">
      <a href="" class="link-categories">All categories</a>
    </li>
    <li class="item-categories">
      <a href="" class="link-categories">Combined Print and E-book Fiction</a>
    </li>
    <li class="item-categories">
      <a href="" class="link-categories">Combined Print & E-book Nonfiction</a>
    </li>
    <li class="item-categories">
      <a href="" class="link-categories">Hardcover fiction</a>
    </li>
    <li class="item-categories">
      <a href="" class="link-categories">Hardcover nonfiction</a>
    </li>
    <li class="item-categories">
      <a href="" class="link-categories">Paperback trade fiction</a>
    </li>
    <li class="item-categories">
      <a href="" class="link-categories">Advice, how-to & Miscellaneous</a>
    </li>
    <li class="item-categories">
      <a href="" class="link-categories">Children’s middle grade hardcover </a>
    </li>
  </ul>
</div>
