.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  z-index: 3000;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;

  background-color: rgb(0, 0, 0, 0.3);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  z-index: 2999;
  position: relative;
  padding: 40px 24px;
  flex-shrink: 0;
  flex-grow: 0;

  margin: 30px 15px;
  max-width: 283px;
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid#000000;
  background: #fff;
  transform: scale(1);
  transition: transform 0.8s;
}

@media only screen and (min-width: 320px) {
  .modal-window {
    max-width: 579px;
    padding: 40px 40px;
  }
}

/* ========================= */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}
.pop-up.is-hidden .pop-up-container {
  transform: scale(0);
}

.yourorder-modal-close-btn {
  position: absolute;
  z-index: 1010;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: url(../images/cross-svgrepo-com.svg), no-repeat;
  background-size: contain;
}

.links-to-shops {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

@media screen and (min-width: 768px) {
  .yourorder-modal-close-btn {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }
}

.yourorder-modal-icon-close {
  fill: black;
  margin: auto;
}
.yourorder-modal-icon-close:hover,
.yourorder-modal-icon-close:focus {
  fill: #4f2ee8;
}

.pop-up__list__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .pop-up__list__list {
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .popup__list__item {
    display: flex;
    gap: 24px;
    width: 539px;
  }
}
.popup__list__book__image {
  width: 287px;
  height: 408px;
  border-radius: 8px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .popup__list__book__image {
    width: 192px;
    max-height: 281px;
    margin-bottom: 0;
  }
}

.poup__list__book__title {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #111;
  text-transform: uppercase;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .poup__list__book__title {
    font-family: DM Sans;
    font-size: 24px;
    line-height: 28px;
  }
}
.popup__list__author {
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #b4afaf;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .popup__list__author {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}
.popup__list__description {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #111111;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .popup__list__description {
    margin-bottom: 20px;
  }
}

.popup__list__link__list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.popup__list__link__images {
  width: 32px;
}
.popup__list__link__images:hover,
.popup__list__link__images:focus {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}
.popup__list__link__images-ama {
  width: 60px;
}
.popup__list__link__images-ama:hover,
.popup__list__link__images-ama:focus {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}
.box-modal-btn {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .box-modal-btn {
    margin: 0;
  }
}
.yourorder-modal-submit-btn {
  background-color: #ffffff;
  border: 2px solid #4f2ee8;
  justify-items: center;
  border-radius: 40px;
  height: 46px;
  padding: 14px 28px 14px 28px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  font-family: DM Sans;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
}
.yourorder-modal-submit-btn:hover {
  background-color: #4f2ee8;
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .yourorder-modal-submit-btn {
    font-size: 10px;
  }
}
@media screen and (min-width: 375px) {
  .yourorder-modal-submit-btn {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .yourorder-modal-submit-btn {
    width: 100%;
    font-size: 18px;
  }
}

.umper-form {
  font-family: DM Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #11111180;
  margin: 8px auto 0 auto;
  height: 36px;
  width: 242px;
}
@media screen and (min-width: 768px) {
  .umper-form {
    font-size: 12px;
    line-height: 14px;
    height: 28px;
    width: 324px;
  }
}
