h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

link {
  text-decoration: none;
}

/* .is-hidden {
} */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.pop-up {
  /* display: flex; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  /* -webkit-overflow-scrolling: touch; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 10px;
  background-color: var(--bg-thank-you-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .pop-up-container {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
} */
.pop-up-modal {
  /* display: block; */
  position: relative;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  /* max-width: 278px; */
  /* max-width: 287px; */
  /* z-index: 101;  */
  /* max-height: 762px; */
  /* height: calc(100% - 5%);  */
  border-radius: 18px;
  border: 2px solid#000000;
  padding: 40px 24px;
  /* overflow: scroll; */
  /* background: var(--white-color); */
  /* background-repeat: no-repeat; */
  /* background-attachment: local;  */
  /* margin: 50px 10px; */
  /* flex-shrink: 0; */
  /* flex-grow: 0; */
  background: #fff;
  /* width: 327px; */
  /* max-width: 100%; */
  /* overflow: visible; */
}
/* width: 335px
height: 762px
top: -1043px
left: 11254px
border-radius: 18px
border: 2px */

@media screen and (min-width: 375px) {
  .pop-up-modal {
    max-width: 287px;
    max-height: 762px;
  }
}
@media screen and (min-width: 768px) {
  .pop-up-modal {
    max-width: 579px;
    max-height: 465px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/* @media screen and (min-width: 1280px) {
  .pop-up-modal {
    width: 579px;
    max-height: 501px;
  }
} */

.container-form {
  display: flex;
  width: auto;
  flex-direction: column;
}
@media screen and (min-width: 375px) {
  .container-form {
    /* max-width: 287px;
    max-height: 762px; */
  }
}
@media screen and (min-width: 768px) {
  .container-form {
    /* max-width: 579px;
    max-height: 465px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.yourorder-modal-close-btn {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: none;
  fill: #000000;
}
.btn {
}
.yourorder-modal-icon-close {
  fill: #2b0e5f;
  margin: auto;
}

/* width: Hug (211px)
height: Hug (46px)
top: 676px
left: 62px
padding: 14px 28px 14px 28px
border-radius: 40px
border: 2px
gap: 10px */

.form-book {
  /* width: 100%; */
}
.form-img-book {
  width: 287px;
  height: 408px;
  margin: 0 0 14px 0;
  border-radius: 8px;
}
@media screen and (min-width: 375px) {
  .form-img-book {
    /* max-width: 287px;
    max-height: 408px; */
  }
}
@media screen and (min-width: 768px) {
  .form-img-book {
    width: 192px;
    height: 281px;
    margin: 0 24px 40px 0;
  }
}
.form-title-book {
  margin: 0;
  height: 18px;
  margin-bottom: 8px;
}
.book-name {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: left;
}
.form-upertitle-book {
  height: 14px;
  margin-bottom: 18px;
}
.avtor-name {
  font-family: DM Sans;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
}
.form-text-book {
  margin-bottom: 14px;
}
.description {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  max-width: 279px;
}
.form-container-links-book {
  max-height: 36px;
  margin-bottom: 40px;
}
.form-links-book {
  display: flex;
  gap: 20px;
}
.form-link-book-amazon {
  background-image: url(img/image\ 1.png);
  width: 62px;
  height: 19px;
}
.form-link-book-amazon:hover,
.form-link-book-amazon:focus {
  background-image: url(img/amazon-hover.png);

  /* box-shadow: 0 6px 7px 2px #000000; */
}
.form-link-book-ap {
  background-image: url(img/app-def.png);
  width: 33px;
  height: 32px;
}
.form-link-book-ap:hover,
.form-link-book-ap:focus {
  background-image: url(img/app-hover.png);
}
.form-link-book-shop {
  background-image: url(img/shop-def.png);
  width: 38px;
  height: 36px;
}
.form-link-book-shop:hover,
.form-link-book-shop:focus {
  background-image: url(img/shop-hover.png);
}
/* .amazon {
  width: 62px;
  height: 19px;
} */
.yourorder-modal-submit-btn {
  background-color: #ffffff;
  border: 2px solid#000000;
  justify-content: center;
  /* align-items: center; */
  border-radius: 40px;
  width: 100%;
  height: 46px;
  padding: 14px 28px 14px 28px;
  /* text-align: center; */
  color: #4f2ee8;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

/* @media screen and (min-width: 375px) {
  .yourorder-modal-submit-btn {
    max-width: 335px;
    max-height: 762px;
  }
}
@media screen and (min-width: 768px) {
  .yourorder-modal-submit-btn {
    width: 579px;
    max-height: 465px;
    
  }
}
@media screen and (min-width: 1280px) {
  .yourorder-modal-submit-btn {
    width: 891px;
    max-height: 911px;
  }
} */
