header {
  background-color: var(--almost-white-color);
}

@media only screen and (min-width: 320px) {
  .header-main-div {
    box-sizing: border-box;
    margin: 0% auto;
    width: 320px;
    display: flex;
    position: relative;
    z-index: 1000;
    height: 64px;
    gap: 70px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid #111;
    background: #fff;
  }

  .header-user-part-div {
    width: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .header-mobile-menu-icons {
    display: flex;
    position: relative;
    width: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
  }

  .burger-menu {
    display: block;
    position: absolute;
  }

  .header-cross {
    display: block;
    position: absolute;
  }

  .hidden {
    display: none;
  }

  .header-navigation {
    display: none;
  }

  .user-log {
    display: none;
  }

  .header-part-div {
    display: flex;
  }

  .header-logo {
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .switch {
    display: flex;
    margin-left: auto;
  }
  .switch input {
    position: relative;
    width: 40px;
    height: 20px;
    outline: none;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
    background: rgb(117, 100, 190);
    -webkit-transition: 0.4s;
  }

  .switch input:checked {
    background-color: rgb(50, 40, 93);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  }
  .switch input:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    top: 2;
    left: 2;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: var(--white-color);
  }

  .switch input:checked:before {
    left: 22px;
  }
}

@media only screen and (min-width: 375px) {
  .header-main-div {
    width: 375px;
    gap: 144px;
  }
}

@media only screen and (min-width: 768px) {
  .header-user-part-div {
    width: 232px;
  }

  .header-mobile-menu-icons {
    display: none;
  }

  .header-main-div {
    width: 768px;
    gap: 40px;
    height: 72px;
  }

  .header-part-div {
    height: 34px;
    gap: 40px;
  }

  .header-navigation {
    display: flex;
  }

  .navigation-list {
    display: flex;
  }

  .li-to-home-page {
    display: flex;
    width: 40px;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    color: #111;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    border-radius: 36px;
    background-color: var(--yellow-color);
  }

  .li-to-shopping-page {
    display: flex;
    width: 156px;
    padding: 7px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 36px;
    color: #111;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }

  .menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .active-svg {
    display: block;
  }

  .user-log {
    display: none;
    color: var(--white-color);
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
    min-width: 170px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background: var(--violet-color);
    cursor: pointer;
  }

  .header-user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .header-user-icon {
    display: flex;
    margin-right: 9px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background: var(--almost-white-color);
  }

  .user-dropdown-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1440px) {
  .header-main-div {
    width: 1440px;
    gap: 700px;
  }

  .header-part-div {
    gap: 76px;
  }
}

.change-background {
  background-color: var(--yellow-color);
}

.change-font-color {
  color: var(--black-color);
}

.heder_link--current {
  background: var(--yellow-color);
  color: var(--black-color);
  border-radius: 36px;
  align-items: flex-start;
  padding: 8px 16px;
}
.active-link-none {
  background: none;
}
