#scrollUpButton {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background-color: #4F2EE84D;
}

.ellip-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--violet-color);
  color: var(--white-color);
  border-radius: 50%;
  width: 54px;
  height: 54px;
}