.shopping__list__first__title {
  color: var(--dark-theme-color);
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: -1.92px;
}

.shopping__list__second__title {
  color: var(--violet-color);
}

.shopping__list__list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shopping__list__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid var(--transparent-violet);
  background: var(--white-color);
  box-sizing: border-box;
}

.shopping__list__btn__delete {
  display: block;
  position: absolute;
  padding: 0;
  background-color: var(--violet-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: none;
}

.shopping__list__book__title {
  color: var(--dark-theme-color);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.shopping__list__category {
  color: var(--light-gray-color);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.36px;
  margin-bottom: 14px;
}

.shopping__list__description {
  color: var(--dark-theme-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.shopping__list__author {
  color: var(--light-gray-color);
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
  position: absolute;
  left: 164px;
  bottom: 24px;
}

.shopping__list__link__list {
  display: flex;
  align-items: center;
  position: absolute;
}

.shopping__list__placeholder {
  max-width: 350px;
  max-height: 310px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping__list__placeholder__descriptions {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.36px;
}

.shopping__list__placeholder__images {
  max-width: 320px;
  max-height: 240px;
}

@media screen and (min-width: 320px), screen and (max-width: 560px) {
  .shopping__list__description {
    height: 40px;
    overflow: hidden;
  }
}

@media screen and (min-width: 320px), screen and (max-width: 767px) {
  .shopping__list {
    padding-top: 40px;
  }

  .shopping__list__item {
    min-width: 335px;
    height: 170px;
    padding: 12px 12px;
  }

  .shopping__list__book__image {
    width: 100px;
    height: 142px;
    border-radius: 8px;
  }

  .shopping__list__author {
    left: 138px;
    bottom: 14px;
  }

  .shopping__list__btn__delete {
    width: 28px;
    height: 28px;
    right: 14px;
    top: 14px;
  }

  .shopping__list__link__list {
    right: 14px;
    bottom: 14px;
    gap: 8px;
  }

  .shopping__list__description {
    min-height: 50px;
  }

  .shopping__list__link__images {
    width: 16px;
  }
  
}

@media only screen and (min-width: 768px) {
 
  .shopping__list__list {
   
    margin-left: auto;
    margin-right: auto;
  }

  .shopping__list__item {
    min-width: 335px;
    height: 214px;
    padding: 24px 24px;
  }

  .shopping__list__book__image {
    width: 116px;
    height: 165px;
  }

  .shopping__list__author {
    left: 164px;
    bottom: 30px;
  }

  .shopping__list__btn__delete {
    right: 24px;
    top: 24px;
    width: 34px;
    height: 34px;
  }

  .shopping__list__link__list {
    right: 24px;
    bottom: 24px;
    gap: 16px;
  }

  .shopping__list__description {
    min-height: 70px;
  }

  .shopping__list__link__images {
    width: 32px;
  }
}

@media only screen and (min-width: 1180px) {
  .shopping__list {
    padding-left: 40px;
    padding-right: 24px;
  }
  .shopping__list__list {
    min-width: 996px;
  }
}


