@import url('./reset.css');
@import url('./scroll-up.css');
@import url('./header.css');
@import url('./home.css');
@import url('./menu.css');
@import url('./shopping-list.css');
@import url('./add-book-modal.css');
@import url('./theme-light-black.css');
@import url('./support-ua-block.css');
@import url('./home-right-block.css');

:root {
  --black-color: #000000;
  --dark-theme-color: #111111;
  --dark-gray-color: #202024;
  --white-color: #ffffff;
  --violet-color: #4f2ee8;
  --yellow-color: #eac645;
  --logo-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  --light-gray-color: #b4afaf;
  --almost-white-color: #f6f6f6;
  --transparent-violet: rgba(79, 46, 232, 0.4);
  --violet-white-gradient: #4f2ee8, #dcdcdc;
  --white-to-almost-white-gradient: #ffffff, #f7f7f7;
  --font: 'DM Sans', sans-serif;
  --violet-gray-gradient: #4f2ee8, #686868;
  --transparent-black: rgba(0, 0, 0, 0.6);
  --white-bookshelf: #f3f3f3;
  --low-white-text: rgba(255, 255, 255, 0.6);
  --black-600: rgba(246, 246, 246, 0.5); /*для темної теми*/
  --btn_SighUp: #111; /*для темної теми*/
  --black-800: #202024; /*для темної теми*/
  --black-650: rgba(17, 17, 17, 0.5); /* кнопка SIGN IN*/
}

:root[data-theme='dark'] {
  --black-900: #fff;
  --black-750: #fff9;
  --black-700: #fff9;
  --black-650: #f6f6f680;
  --black-400: #202024;
  --white-100: #111;
  --link-current: #111;
  --shopListAdd: #202024;
  --btn_SighUp: #f6f6f6;
  --blueCategory: #eac645;
  --swicherDark: #f7f7f7;
  --filter: invert(100%);
}

body {
  background-color: var(--almost-white-color);
  font-family: var(--font);
}

@media only screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 335px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
  }
}
