.dark .header-main-div{
    background: var(--dark-theme-color);
    border-color: var(--white-color);
}
.dark main{
    background: var(--dark-gray-color);
}
.dark .item-category{
    color: var(--low-white-text);
}
.dark .header-logo svg{
    fill: var(--white-bookshelf);
}
.dark .span-to-shopping-page{
    color: var(--white-color);
}
.dark .basket svg{
    fill: var(--white-color);
}
.dark .main-title{
    color: var(--white-color);
}