.dark .header-main-div {
  background: var(--dark-theme-color);
  border-color: var(--white-color);
}
.dark header {
  background-color: var(--dark-theme-color);
}
.dark main {
  background: var(--dark-gray-color);
}
.dark .item-category {
  color: var(--low-white-text);
}
.dark .header-logo svg {
  fill: var(--white-bookshelf);
}
.dark .basket svg {
  fill: var(--white-color);
}
.dark .main-title {
  color: var(--white-color);
}
.dark .categories-list {
  background-color: var(--dark-gray-color);
}
.dark .book-categories {
  border: 1px solid var(--dark-gray-color);
}
.dark .active {
  color: var(--yellow-color);
}
.dark .book-title,
.author,
.dark .shopping__list__first__title {
  color: var(--white-color);
}
.dark .name-category {
  color: var(--light-gray-color);
}
.dark .shopping__list__item {
  background-color: var(--dark-theme-color);
}
.dark .shopping__list__book__title {
  color: var(--white-color);
}
.dark .shopping__list__description {
  color: var(--white-color);
}
.dark .see-more-button {
  background-color: var(--dark-gray-color);
  color: var(--white-color);
}
.dark .burger-menu {
  fill: var(--white-color);
}
.dark .header-cross {
  fill: var(--white-color);
}
.dark .active-svg {
  fill: var(--white-color);
}
.dark .modal-window {
  background: var(--dark-gray-color);
  border-radius: 2px;
  border-color: var(--white-color);
  border-radius: 10px;
  fill: var(--white-color);
}
.dark .poup__list__book__title {
  color: var(--white-color);
}
.dark .popup__list__author {
  color: var(--white-color);
}
.dark .yourorder-modal-submit-btn {
  background-color: var(--dark-gray-color);
  color: var(--white-color);
}
.dark .yourorder-modal-close-btn {
  fill: var(--white-color);
}
.dark .span-btn {
  color: var(--white-color);
}
.dark .heder_link--current {
  color: var(--dark-theme-color);
}
.dark .li-to-shopping-page {
  color: var(--white-color);
}
.dark .active-link-none {
  color: var(--white-color);
}
.dark .popup__list__description {
  color: var(--white-color);
}
.dark .umpertitle-pop {
  color: var(--white-color);
}
.dark .book-categories {
  background: var(--dark-gray-color);
}
